html, body {
    background:#FFE9D5;
    height: 80%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.uppage{
    position: absolute;
    z-index: 2;
}
.mainbody{
    top: 40px;
}
#container {
    position: fixed;
    top: 0px;
    z-index: 1;
}
#musicele{
    position: absolute;
    bottom:0px;
    right:0px;
} 
#scrollword{
    text-align: center;
    position: fixed;
    background-color: rgba(255, 255, 255,0.3);
    color:rgb(70, 70, 70);
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin: auto;
    width:300px;
    height: 450px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#scrollword img{
    display: inline-block;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
}